.advantages-section {
  background: #DAE2FF;

  .container {
    padding-top: 66px;
    padding-bottom: 54px;
    position: relative;
  }
}

.advantages-section__block {
  padding-top: 46px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}

.advantages-section__img {
  width: 111px;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #FFFFFF;
  margin-bottom: 32px;
}

.advantages-section__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  display: block;
  margin-bottom: 14px;
  max-width: 237px;
}

.advantages-section__title-height {
  min-height: 48px;
}

.advantages-section__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-bottom: 0;
}

.advantages-section__mainTitle {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  display: block;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
}

.advantages-section__line {
  width: 41px;
  opacity: 0.5;
  border-top: 1px solid #52195B;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-section__border {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  border-left: 1px solid #B8C5F1;
}

.advantages-section__border-1 {
  left: 25%;
}

.advantages-section__border-2 {
  left: 50%;
}

.advantages-section__border-3 {
  left: 75%;
}



@media (min-width: 1200px) {
  .advantages-section__col:nth-last-child(-n+4) .advantages-section__line{
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .advantages-section__border {
    display: none;
  }
}

@media (min-width: 768px) {
  .advantages-section__col .advantages-section__line {
    display: block;
  }

  .advantages-section__col:nth-last-child(-n+2) .advantages-section__line{
    display: none;
  }
}

@media (min-width: 320px) {
  .advantages-section__col .advantages-section__line {
    display: block;
  }

  .advantages-section__col:nth-last-child(1) .advantages-section__line{
    display: none;
  }
}

@media (max-width: 767.98px) {
  .advantages-section__mainTitle {
    font-size: 32px;
    line-height: 37px;
  }

  .advantages-section__img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .advantages-section__icon {
    max-width: 60%;
  }

  .advantages-section__block {
    padding-bottom: 18px;
    padding-top: 18px;
  }

  .advantages-section .container {
    padding-top: 33px;
    padding-bottom: 20px;
  }
}
