.scroll-topics {
  position: relative;
  overflow: hidden;
  ul {
    li {
      list-style-type: none;
    }
  }
}

.scroll-topics__bg-wrapper {
  position: absolute;
  height: 100%;
}

.scroll-topics__background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  height: 100%;
  width: 1000%;
  background: linear-gradient(182.08deg, #1EA6EA 1.51%, #6E47EA 17.89%, #B920CB 35.32%, #E11E90 57.94%, #EB2942 78.6%, #EC632F 98.25%);
}

.scroll-topics__block {
  padding-left: 0;
  margin-bottom: 30px;
}

.scroll-topics__text {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  display: block;
  margin-bottom: 0;
}

.scroll-topics__wrapper {
  display: flex;
  flex-direction: column;
}

.scroll-topics__ul-pl-60 {
  padding-left: 60px;
}

.scroll-topics__ul-pl-30 {
  padding-left: 30px;
}

.scroll-topics__ul-pl-37 {
  padding-left: 37px;
}

.scroll-topics__ul-pl-50 {
  padding-left: 50px;
}

.scroll-topics__ul-pl-90 {
  padding-left: 90px;
}

.scroll-topics__ul-pl-23 {
  padding-left: 23px;
}

.scroll-topics__text_title {
  font-size: 18px;
}

.scroll-topics__subTitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: #222222;
  margin-bottom: 9px;
  margin-top: 5px;
}

.scroll-topics__title {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #222222;
  display: block;
  margin-bottom: 45px;
}

.scroll-topics__leftBlock {
  padding-top: 80px;
  padding-right: 15px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

#scroll-topics__leftBlock {
  min-height: 100vh;

  & > div {
    position: absolute;
  }
}

.scroll-topics__leftBlock-title {
  position: relative;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;

  &:before {
    content: '';
    position: absolute;
    background: url("../img/arrow-white.svg") no-repeat center;
    background-size: 100% auto;
    width: 24px;
    height: 34px;
    display: block;
    left: -44px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:after {
    content: '';
    position: absolute;
    background: url("../img/arrow-white.svg") no-repeat center;
    background-size: 100% auto;
    width: 24px;
    height: 34px;
    display: block;
    right: -44px;
    top: 50%;
    transform: rotate(180deg) translateY(50%);
  }
}

.scroll-topics__leftBlock-text {
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 22px;
}

.scroll-topics__border-bottom {
  position: relative;

  //&:before {
  //  content: '';
  //  position: absolute;
  //  width: 300%;
  //  left: 50%;
  //  bottom: 0;
  //  transform: translateX(-50%);
  //  border-bottom: 1px solid #DEDEDE;
  //}
  
  &:last-child {
    &:before {
      display: none;
    }
  }
}

.scroll-topics__content {
  max-width: 670px;
  padding-top: 20px;
}

.scroll-topics__content_p-v1 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.scroll-topics__listMenu {
  position: relative;
  z-index: 101;
  display: flex;
  align-items: center;
  height: auto !important;
  padding-bottom: 62px;

  & > div {
    display: flex;
    align-items: center;
  }
}

.scroll-topics__listMenu.class-fixed {
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 1;
}

.class-fixed-remove .scroll-topics__listMenu.class-fixed {
  position: absolute;
}

.scroll-topics__list-SERP {
  span {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #222222;
  }
}

.scroll-topics__block-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 281px;
  margin: 22px auto 36px auto;
}

.scroll-topics__title-2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  display: block;
  margin-bottom: 32px;
}

.scroll-topics__block-3 {
  max-width: 563px;
  margin-left: auto;
  margin-right: auto;

  & > div {
    display: flex;
  }
}

.scroll-topics__title-3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #222222;
  display: block;
  margin-bottom: 12px;
}

.scroll-topics__block-4 {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}

.scroll-topics__block-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 144px;
  margin-left: auto;
  margin-right: auto;
}

.scroll-topics__list2 {
  p {
    font-size: 14px;
    line-height: 16px;
    color: #606060;
    margin-bottom: 0;
  }
}

.anchor-link {

}

.scroll-topics__leftBlock-wrapper {
  position: relative;
}
