#seo-performance-marketing-diagram {
  background: radial-gradient(49.97% 70% at 50.03% 8.83%, #5A185A 26.04%, #1C3454 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 82px;
  padding-bottom: 69px;

  svg {
    padding-left: 10px;
    padding-right: 10px;
  }
}
