#seo-performance-marketing-diagram {
  background: radial-gradient(50% 50% at 50% 52%, #202f32 0%, #11294A 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 82px;
  padding-bottom: 69px;
}