html, body {
  font-family: Roboto, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

body.active {
  overflow: hidden;
}

body {
  position: relative;
}

.app.active:before {
  content: '';
  background: rgba(0, 0, 0, 0.77);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.app.active {
  position: relative;
  filter: blur(40px);
}

.general-background {
  background: radial-gradient(49.97% 70% at 50.03% 8.83%, #51185A 26.04%, #1C3454 100%);
}

.button {
  min-height: 60px;
  border-radius: 45px;
}

.scrollmagic-pin-spacer {
  max-width: 100% !important;
  min-width: 100% !important;
}

.sticky {
  position: fixed !important;
  z-index: 101;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
  }
}


@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}
