
// Fonts color
$font-color-1             : #000000 !default;
$font-color-2             : #222222 !default;
$font-color-3             : #333333 !default;
$font-color-4             : #434343 !default;
$font-color-5             : #555555 !default;
$font-color-6             : #8C8C8C !default;
$font-color-7             : #E0575B !default;

// Font
$mainFont                 : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// Background
$backgroundColorFirst    : #F2EFE8 !default;