.yandex-direct {
  background: url("../img/yandex-direct.svg") no-repeat center;
  background-size: 100% auto;
  width: 171px;
  height: 31px;
  display: block;
}

.google-trends {
  background: url("../img/google-trends.svg") no-repeat center;
  background-size: 100% auto;
  width: 221px;
  height: 36px;
  display: block;
}

.yandex-wordStat {
  background: url("../img/yandex-wordStat.svg") no-repeat center;
  background-size: 100% auto;
  width: 157px;
  height: 23px;
  display: block;
}

.google-KP {
  background: url("../img/google-KP.svg") no-repeat center;
  background-size: 100% auto;
  width: 306px;
  height: 38px;
  display: block;
}

.yandex-WebMaster {
  background: url("../img/yandex-WebMaster.svg") no-repeat center;
  background-size: 100% auto;
  width: 226px;
  height: 31px;
  display: block;
}

.google-analytics {
  background: url("../img/google-analytics.svg") no-repeat center;
  background-size: 100% auto;
  width: 238px;
  height: 38px;
  display: block;
}

.yandex-metrika {
  background: url("../img/yandex-metrika.svg") no-repeat center;
  background-size: 100% auto;
  width: 156px;
  height: 31px;
  display: block;
}

.keys-so {
  background: url("../img/keys-so.png") no-repeat center;
  background-size: 100% auto;
  width: 71px;
  height: 27px;
  display: block;
}

.keyword-tool {
  background: url("../img/keyword-tool.svg") no-repeat center;
  background-size: 100% auto;
  width: 140px;
  height: 27px;
  display: block;
}

.similarWeb {
  background: url("../img/similarWeb.svg") no-repeat center;
  background-size: 100% auto;
  width: 121px;
  height: 19px;
  display: block;
}

.servise-kulakova {
  background: url("../img/servise-kulakova.svg") no-repeat center;
  background-size: 100% auto;
  width: 152px;
  height: 32px;
  display: block;
}

.alexa {
  background: url("../img/alexa.png") no-repeat center;
  background-size: 100% auto;
  width: 84px;
  height: 25px;
  display: block;
}

.megaIndex {
  background: url("../img/megaIndex.png") no-repeat center;
  background-size: 100% auto;
  width: 133px;
  height: 36px;
  display: block;
}

.google-search-console {
  background: url("../img/google-search-console.svg") no-repeat center;
  background-size: 100% auto;
  width: 233px;
  height: 32px;
  display: block;
}

.microsoft-bing {
  background: url("../img/microsoft-bing.svg") no-repeat center;
  background-size: 100% auto;
  width: 154px;
  height: 28px;
  display: block;
}

.yandex-icon {
  background: url("../img/yandex-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 108px;
  height: 44px;
  display: block;
}

.google-icon {
  background: url("../img/google-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 112px;
  height: 38px;
  display: block;
}

.yandex-speller {
  background: url("../img/yandex-speller.svg") no-repeat center;
  background-size: 100% auto;
  width: 160px;
  height: 31px;
  display: block;
}

.text-ru {
  background: url("../img/text-ru.svg") no-repeat center;
  background-size: 100% auto;
  width: 102px;
  height: 31px;
  display: block;
}

.turgenev {
  background: url("../img/turgenev.png") no-repeat center;
  background-size: 100% auto;
  width: 110px;
  height: 27px;
  display: block;
}

.google-docs {
  background: url("../img/google-docs.svg") no-repeat center;
  background-size: 100% auto;
  width: 182px;
  height: 38px;
  display: block;
}

.pixel-tuls {
  background: url("../img/pixel-tuls.svg") no-repeat center;
  background-size: 100% auto;
  width: 131px;
  height: 27px;
  display: block;
}

.webdelo-go {
  background: url("../img/webdelo-go.svg") no-repeat center;
  background-size: 100% auto;
  width: 143px;
  height: 21px;
  display: block;
}

.sape-icon {
  background: url("../img/sape-icon.png") no-repeat center;
  background-size: 100% auto;
  width: 49px;
  height: 49px;
  display: block;
}

.seopolt-pro {
  background: url("../img/seopolt-pro.png") no-repeat center;
  background-size: 100% auto;
  width: 90px;
  height: 17px;
  display: block;
}

.yandex-q__black {
  background: url("../img/yandex-q__black.svg") no-repeat center;
  background-size: 100% auto;
  width: 124px;
  height: 27px;
  display: block;
}

.yandex-zen__black {
  background: url("../img/yandex-zen__black.svg") no-repeat center;
  background-size: 100% auto;
  width: 120px;
  height: 27px;
  display: block;
}

.tinkoff__black {
  background: url("../img/tinkoff__black.svg") no-repeat center;
  background-size: 100% auto;
  width: 105px;
  height: 35px;
  display: block;
}

.vc-ru {
  background: url("../img/vc-ru.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 34px;
  display: block;
}

.cossa-icon {
  background: url("../img/cossa-icon.png") no-repeat center;
  background-size: 100% auto;
  width: 66px;
  height: 20px;
  display: block;
}

.disqus {
  background: url("../img/disqus.svg") no-repeat center;
  background-size: 100% auto;
  width: 88px;
  height: 16px;
  display: block;
}

.google-ADS {
  background: url("../img/google-ADS.svg") no-repeat center;
  background-size: 100% auto;
  width: 156px;
  height: 28px;
  display: block;
}

.youtube-mini {
  background: url("../img/youtube-mini.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 12px;
  display: block;
}

.FBM-circle {
  background: url("../img/FBM-circle.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 34px;
  display: block;
}

.instagram-logotype {
  background: url("../img/instagram.svg") no-repeat center;
  background-size: 100% auto;
  width: 119px;
  height: 26px;
  display: block;
}

.facebook-logotype {
  background: url("../img/facebook.svg") no-repeat center;
  background-size: 100% auto;
  width: 115px;
  height: 27px;
  display: block;
}

.analysis-opacity-bg {
  background: url("../img/analysis-opacity-bg.svg") no-repeat center;
  background-size: 100% auto;
  width: 294px;
  height: 294px;
  display: block;
}

.website-opacity-bg {
  background: url("../img/website-opacity-bg.svg") no-repeat center;
  background-size: 100% auto;
  width: 334px;
  height: 334px;
  display: block;
}

.text-opacity-bg {
  background: url("../img/text-opacity-bg.svg") no-repeat center;
  background-size: 100% auto;
  width: 269px;
  height: 269px;
  display: block;
}

.link-opacity-bg {
  background: url("../img/link-opacity-bg.svg") no-repeat center;
  background-size: 100% auto;
  width: 286px;
  height: 286px;
  display: block;
}

.social-media-opacity-bg {
  background: url("../img/social-media-opacity-bg.svg") no-repeat center;
  background-size: 100% auto;
  width: 324px;
  height: 324px;
  display: block;
}

.ahrefs {
  background: url("../img/ahrefs.svg") no-repeat center;
  background-size: 100% auto;
  width: 74px;
  height: 18px;
  display: block;
}

.comment-arrow-left {
  background: url("../img/comment-arrow-left.svg") no-repeat center;
  background-size: 100% auto;
  width: 44px;
  height: 24px;
  display: block;
}

.comment-arrow-right {
  background: url("../img/comment-arrow-right.svg") no-repeat center;
  background-size: 100% auto;
  width: 33px;
  height: 24px;
  display: block;
}

.facebook-circle-icon {
  background: url("../img/facebook-circle-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 34px;
  display: block;
}

.horizontal-curly-brace {
  background: url("../img/horizontal-curly-brace.svg") no-repeat center;
  background-size: 100% auto;
  width: 325px;
  height: 30px;
  display: block;
}

.arrow-bottom {
  background: url("../img/arrow-bottom.svg") no-repeat center;
  background-size: 100% auto;
  width: 7px;
  height: 14px;
  display: block;
}

.yandex-direct__noIcon {
  background: url("../img/yandex-direct__noIcon.svg") no-repeat center;
  background-size: 100% auto;
  width: 138px;
  height: 31px;
  display: block;
}

.one-step-line {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 20px;
    background: url("../img/one-step-line.svg") no-repeat center;
    background-size: 100% auto;
    left: -26px;
    bottom: 8px;
  }
}

.fourth-step-line__v1 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 111px;
    background: url(../img/fourth-step-line__v1.svg) center/100% auto no-repeat;
    bottom: 4px;
    left: 38px;
  }
}

.two-step-line__v2 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 101px;
    background: url(../img/two-step-line__v2.svg) center/100% auto no-repeat;
    left: 67px;
    top: -18px;
  }
}

.two-step-line__v1 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 49px;
    background: url("../img/two-step-line__v1.svg") no-repeat;
    background-size: 100% auto;
    left: 3px;
    bottom: 6px;
  }
}

.one-step-line__pl {

  &:before {
    left: -21px;
    bottom: 12px;
  }
}

.three-step-line__v2 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 261px;
    background: url("../img/three-step-line__v2.svg") no-repeat center;
    background-size: 100% auto;
    left: 15px;
    top: -20px;
  }
}

.six-step-line {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 153px;
    background: url("../img/six-step-line.svg") no-repeat center;
    background-size: 100% auto;
    bottom: 6px;
    left: 8px;
  }
}

.fourth-step-line__v2 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 101px;
    background: url("../img/fourth-step-line__v2.svg") no-repeat center;
    background-size: 100% auto;
    bottom: 13px;
    left: 9px;
  }
}

.fourth-step-line__v3 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 143px;
    display: block;
    background: url(../img/fourth-step-line__v3.svg) center/100% auto no-repeat;
    left: 5px;
    bottom: 23px;
  }
}

.three-step-line {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background: url(../img/three-step-line.svg) center/100% auto no-repeat;
    width: 13px;
    height: 112px;
    bottom: 31px;
    left: 12px;
    display: block;
  }
}

.analysis-opacity-bg_position {
  position: absolute;
  left: -100px;
  bottom: 42px;
}

.social-media-opacity-bg_position {
  position: absolute;
  bottom: 49px;
  left: -80px;
}

.link-opacity-bg_position {
  position: absolute;
  bottom: 52px;
  left: -100px;
}

.text-opacity-bg_position {
  position: absolute;
  bottom: 31px;
  left: -100px;
}

.website-opacity-bg_position {
  bottom: 18px;
  left: -100px;
  position: absolute;
}
