.yandex-direct {
  background: url("../img/yandex-direct.svg") no-repeat center;
  background-size: 100% auto;
  width: 171px;
  height: 31px;
  display: block;
}

.google-trends {
  background: url("../img/google-trends.svg") no-repeat center;
  background-size: 100% auto;
  width: 221px;
  height: 36px;
  display: block;
}

.yandex-wordStat {
  background: url("../img/yandex-wordStat.svg") no-repeat center;
  background-size: 100% auto;
  width: 157px;
  height: 23px;
  display: block;
}

.google-KP {
  background: url("../img/google-KP.svg") no-repeat center;
  background-size: 100% auto;
  width: 306px;
  height: 38px;
  display: block;
}

.yandex-WebMaster {
  background: url("../img/yandex-WebMaster.svg") no-repeat center;
  background-size: 100% auto;
  width: 226px;
  height: 31px;
  display: block;
}

.google-analytics {
  background: url("../img/google-analytics.svg") no-repeat center;
  background-size: 100% auto;
  width: 238px;
  height: 38px;
  display: block;
}

.yandex-metrika {
  background: url("../img/yandex-metrika.svg") no-repeat center;
  background-size: 100% auto;
  width: 156px;
  height: 31px;
  display: block;
}

.keys-so {
  background: url("../img/keys-so.png") no-repeat center;
  background-size: 100% auto;
  width: 71px;
  height: 27px;
  display: block;
}

.keyword-tool {
  background: url("../img/keyword-tool.svg") no-repeat center;
  background-size: 100% auto;
  width: 140px;
  height: 27px;
  display: block;
}

.similarWeb {
  background: url("../img/similarWeb.svg") no-repeat center;
  background-size: 100% auto;
  width: 121px;
  height: 19px;
  display: block;
}

.servise-kulakova {
  background: url("../img/servise-kulakova.svg") no-repeat center;
  background-size: 100% auto;
  width: 152px;
  height: 32px;
  display: block;
}

.alexa {
  background: url("../img/alexa.png") no-repeat center;
  background-size: 100% auto;
  width: 84px;
  height: 25px;
  display: block;
}

.megaIndex {
  background: url("../img/megaIndex.png") no-repeat center;
  background-size: 100% auto;
  width: 133px;
  height: 36px;
  display: block;
}

.google-search-console {
  background: url("../img/google-search-console.svg") no-repeat center;
  background-size: 100% auto;
  width: 233px;
  height: 32px;
  display: block;
}

.microsoft-bing {
  background: url("../img/microsoft-bing.svg") no-repeat center;
  background-size: 100% auto;
  width: 154px;
  height: 28px;
  display: block;
}

.yandex-icon {
  background: url("../img/yandex-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 108px;
  height: 44px;
  display: block;
}

.google-icon {
  background: url("../img/google-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 112px;
  height: 38px;
  display: block;
}

.yandex-speller {
  background: url("../img/yandex-speller.svg") no-repeat center;
  background-size: 100% auto;
  width: 160px;
  height: 31px;
  display: block;
}

.text-ru {
  background: url("../img/text-ru.svg") no-repeat center;
  background-size: 100% auto;
  width: 102px;
  height: 31px;
  display: block;
}

.turgenev {
  background: url("../img/turgenev.png") no-repeat center;
  background-size: 100% auto;
  width: 110px;
  height: 27px;
  display: block;
}

.google-docs {
  background: url("../img/google-docs.svg") no-repeat center;
  background-size: 100% auto;
  width: 182px;
  height: 38px;
  display: block;
}

.pixel-tuls {
  background: url("../img/pixel-tuls.svg") no-repeat center;
  background-size: 100% auto;
  width: 131px;
  height: 27px;
  display: block;
}

.webdelo-go {
  background: url("../img/webdelo-go.svg") no-repeat center;
  background-size: 100% auto;
  width: 143px;
  height: 21px;
  display: block;
}

.sape-icon {
  background: url("../img/sape-icon.png") no-repeat center;
  background-size: 100% auto;
  width: 49px;
  height: 49px;
  display: block;
}

.seopolt-pro {
  background: url("../img/seopolt-pro.png") no-repeat center;
  background-size: 100% auto;
  width: 90px;
  height: 17px;
  display: block;
}

.yandex-q__black {
  background: url("../img/yandex-q__black.svg") no-repeat center;
  background-size: 100% auto;
  width: 124px;
  height: 27px;
  display: block;
}

.yandex-zen__black {
  background: url("../img/yandex-zen__black.svg") no-repeat center;
  background-size: 100% auto;
  width: 120px;
  height: 27px;
  display: block;
}

.tinkoff__black {
  background: url("../img/tinkoff__black.svg") no-repeat center;
  background-size: 100% auto;
  width: 105px;
  height: 35px;
  display: block;
}

.vc-ru {
  background: url("../img/vc-ru.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 34px;
  display: block;
}

.cossa-icon {
  background: url("../img/cossa-icon.png") no-repeat center;
  background-size: 100% auto;
  width: 66px;
  height: 20px;
  display: block;
}

.disqus {
  background: url("../img/disqus.svg") no-repeat center;
  background-size: 100% auto;
  width: 88px;
  height: 16px;
  display: block;
}

.google-ADS {
  background: url("../img/google-ADS.svg") no-repeat center;
  background-size: 100% auto;
  width: 156px;
  height: 28px;
  display: block;
}

.youtube-mini {
  background: url("../img/youtube-mini.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 12px;
  display: block;
}

.FBM-circle {
  background: url("../img/FBM-circle.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 34px;
  display: block;
}

.instagram-logotype {
  background: url("../img/instagram.svg") no-repeat center;
  background-size: 100% auto;
  width: 119px;
  height: 26px;
  display: block;
}

.facebook-logotype {
  background: url("../img/facebook.svg") no-repeat center;
  background-size: 100% auto;
  width: 115px;
  height: 27px;
  display: block;
}

.analysis-iconLink {
  background: url("../img/analysis-white.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.website-iconLink {
  background: url("../img/website-white.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.text-iconLink {
  background: url("../img/text-white.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.link-iconLink {
  background: url("../img/link-white.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 27px;
  display: block;
}

.social-media-iconLink {
  background: url("../img/social-media-white.svg") no-repeat center;
  background-size: 100% auto;
  width: 31px;
  height: 31px;
  display: block;
}

.scroll-topics__listMenu-icon.active {
  background: #ffffff !important;

  .analysis-iconLink {
    background: url("../img/analysis-black.svg") no-repeat center;
    background-size: 100% auto;
  }

  .website-iconLink {
    background: url("../img/website-black.svg") no-repeat center;
    background-size: 100% auto;
  }

  .text-iconLink {
    background: url("../img/text-black.svg") no-repeat center;
    background-size: 100% auto;
  }

  .link-iconLink {
    background: url("../img/link-black.svg") no-repeat center;
    background-size: 100% auto;
  }

  .social-media-iconLink {
    background: url("../img/social-media-black.svg") no-repeat center;
    background-size: 100% auto;
  }
}

.analysis-opacity-bg {
  background: url("../img/analysis-opacity-bg.svg") no-repeat center;
  background-size: 100% auto;
  width: 294px;
  height: 294px;
  display: block;
}

.website-opacity-bg {
  background: url("../img/website-opacity-bg.svg") no-repeat center;
  background-size: 100% auto;
  width: 334px;
  height: 334px;
  display: block;
}

.text-opacity-bg {
  background: url("../img/text-opacity-bg.svg") no-repeat center;
  background-size: 100% auto;
  width: 269px;
  height: 269px;
  display: block;
}

.link-opacity-bg {
  background: url("../img/link-opacity-bg.svg") no-repeat center;
  background-size: 100% auto;
  width: 286px;
  height: 286px;
  display: block;
}

.social-media-opacity-bg {
  background: url("../img/social-media-opacity-bg.svg") no-repeat center;
  background-size: 100% auto;
  width: 324px;
  height: 324px;
  display: block;
}

.ahrefs {
  background: url("../img/ahrefs.svg") no-repeat center;
  background-size: 100% auto;
  width: 74px;
  height: 18px;
  display: block;
}

.comment-arrow-left {
  background: url("../img/comment-arrow-left.svg") no-repeat center;
  background-size: 100% auto;
  width: 44px;
  height: 24px;
  display: block;
}

.comment-arrow-right {
  background: url("../img/comment-arrow-right.svg") no-repeat center;
  background-size: 100% auto;
  width: 33px;
  height: 24px;
  display: block;
}

.facebook-circle-icon {
  background: url("../img/facebook-circle-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 34px;
  display: block;
}

.horizontal-curly-brace {
  background: url("../img/horizontal-curly-brace.svg") no-repeat center;
  background-size: 100% auto;
  width: 325px;
  height: 30px;
  display: block;
}

.arrow-bottom {
  background: url("../img/arrow-bottom.svg") no-repeat center;
  background-size: 100% auto;
  width: 7px;
  height: 14px;
  display: block;
}

.yandex-direct__noIcon {
  background: url("../img/yandex-direct__noIcon.svg") no-repeat center;
  background-size: 100% auto;
  width: 138px;
  height: 31px;
  display: block;
}

.one-step-line {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 20px;
    background: url("../img/one-step-line.svg") no-repeat center;
    background-size: 100% auto;
    left: -26px;
    bottom: 8px;
  }
}

.fourth-step-line__v1 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 111px;
    background: url(../img/fourth-step-line__v1.svg) center/100% auto no-repeat;
    bottom: 4px;
    left: 38px;
  }
}

.two-step-line__v2 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 101px;
    background: url(../img/two-step-line__v2.svg) center/100% auto no-repeat;
    left: 67px;
    top: -18px;
  }
}

.two-step-line__v1 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 49px;
    background: url("../img/two-step-line__v1.svg") no-repeat;
    background-size: 100% auto;
    left: 3px;
    bottom: 6px;
  }
}

.one-step-line__pl {

  &:before {
    left: -21px;
    bottom: 12px;
  }
}

.three-step-line__v2 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 261px;
    background: url("../img/three-step-line__v2.svg") no-repeat center;
    background-size: 100% auto;
    left: 15px;
    top: -20px;
  }
}

.six-step-line {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 153px;
    background: url("../img/six-step-line.svg") no-repeat center;
    background-size: 100% auto;
    bottom: 6px;
    left: 8px;
  }
}

.fourth-step-line__v2 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 101px;
    background: url("../img/fourth-step-line__v2.svg") no-repeat center;
    background-size: 100% auto;
    bottom: 13px;
    left: 9px;
  }
}

.fourth-step-line__v3 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 143px;
    display: block;
    background: url(../img/fourth-step-line__v3.svg) center/100% auto no-repeat;
    left: 5px;
    bottom: 23px;
  }
}

.three-step-line {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background: url(../img/three-step-line.svg) center/100% auto no-repeat;
    width: 13px;
    height: 112px;
    bottom: 31px;
    left: 12px;
    display: block;
  }
}

.analysis-opacity-bg_position {
  position: relative;
  left: -100px;
  margin-top: 100px;
}

.social-media-opacity-bg_position {
  position: relative;
  margin-top: 100px;
  left: -80px;
}

.link-opacity-bg_position {
  position: relative;
  margin-top: 100px;
  left: -100px;
}

.text-opacity-bg_position {
  position: relative;
  margin-top: 100px;
  left: -100px;
}

.website-opacity-bg_position {
  margin-top: 100px;
  left: -100px;
  position: relative;
}

.yandex-google-logo {
  background: url("../img/yandex-google-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 312px;
  height: 52px;
  display: block;
}

.logo-main {
  background: url("../img/logo-main.svg") no-repeat center;
  background-size: 100% auto;
  width: 184px;
  height: 49px;
  display: block;
}

.teeth {
  background: url("../img/teeth.svg") no-repeat center;
  background-size: 100% auto;
  width: 51px;
  height: 51px;
  display: block;
}

.online-shop {
  background: url("../img/online-shop.svg") no-repeat center;
  background-size: 100% auto;
  width: 61px;
  height: 61px;
  display: block;
}

.desk {
  background: url("../img/desk.svg") no-repeat center;
  background-size: 100% auto;
  width: 56px;
  height: 56px;
  display: block;
}

.architect {
  background: url("../img/architect.svg") no-repeat center;
  background-size: 100% auto;
  width: 60px;
  height: 60px;
  display: block;
}

.certificate {
  background: url("../img/certificate.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 47px;
  display: block;
}

.water-pump {
  background: url("../img/water-pump.svg") no-repeat center;
  background-size: 100% auto;
  width: 56px;
  height: 56px;
  display: block;
}

.coins {
  background: url("../img/coins.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 47px;
  display: block;
}

.statue-of-liberty {
  background: url("../img/statue-of-liberty.svg") no-repeat center;
  background-size: 100% auto;
  width: 66px;
  height: 66px;
  display: block;
}

.lecture-icon {
  background: url("../img/lecture-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 49px;
  height: 48px;
  display: block;
}

.like-icon {
  background: url("../img/like-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 47px;
  display: block;
}

.money-growth-icon {
  background: url("../img/money-growth-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.top-three-icon {
  background: url("../img/top-three-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.statistics-icon {
  background: url("../img/statistics-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 49px;
  display: block;
}

.data-icon {
  background: url("../img/data-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.to-do-list-icon {
  background: url("../img/to-do-list-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 52px;
  height: 52px;
  display: block;
}

.savings-icon {
  background: url("../img/savings-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 52px;
  height: 52px;
  display: block;
}

.analysis__icon-white {
  background: url("../img/analysis-black.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.website__icon-white {
  background: url("../img/website-black.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.text__icon-white {
  background: url("../img/text-black.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.link__icon-white {
  background: url("../img/link-black.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 27px;
  display: block;
}

.social-media__icon-white {
  background: url("../img/social-media-black.svg") no-repeat center;
  background-size: 100% auto;
  width: 31px;
  height: 31px;
  display: block;
}

.yandex-direct__mobil {
  width: 144px;
  height: 24px;
  margin-left: 5px;
}

.yandex-WebMaster__mobil {
  width: 189px;
  height: 22px;
  margin-left: 5px;
}

.yandex-metrika__mobil {
  width: 129px;
  height: 22px;
  margin-left: 30px;
}

.google-trends__mobil {
  width: 143px;
  height: 24px;
}

.google-KP__mobil {
  width: 204px;
  height: 26px;
}

.google-analytics__mobil {
  width: 152px;
  height: 26px;
}

.google-search-console__mobil {
  width: 188px;
  height: 26px;
}

.microsoft-bing__mobil {
  width: 154px;
  height: 28px;
}

.ahrefs__mobil {
  width: 74px;
  height: 18px;
}

.yandex-google-logo__mobil {
  background: url("../img/yandex-google-logo__mobil.svg") no-repeat center;
  background-size: 100% auto;
  width: 243px;
  height: 30px;
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
}

.yandex-speller__mobil {
  width: 128px;
  height: 24px;
}

.google-docs__mobil {
  width: 129px;
  height: 27px;
}

.text-ru__mobil {
  width: 82px;
  height: 25px;
}

.turgenev__mobil {
  width: 78px;
  height: 21px;
}

.glavred-logo,
.arsenkinRu-logo,
.just-magic-logo,
.advegoCom-logo {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.pixel-tuls__mobil {
  width: 112px;
  height: 23px;
}

.webdelo-go__mobil {
  width: 117px;
  height: 18px;
}

.sape-seopult__mobil {
  width: 281px;
  height: 49px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 34px;
}

.arrow-mobil-1 {
  background: url("../img/arrow-mobil-1.svg") no-repeat center;
  background-size: 100% auto;
  width: 144px;
  height: 34px;
  display: block;
}

.arrow-mobil-2 {
  background: url("../img/arrow-mobil-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 264px;
  height: 30px;
  display: block;
}

.yandex-direct__noIcon-mobil {
  width: 125px;
  height: 26px;
}

.google-ADS__mobil {
  width: 155px;
  height: 28px;
}

.mob-line-1 {
  position: relative;

  li {
    font-size: 16px;
    line-height: 19px;
    color: #606060;
    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:before {
    content: '';
    background: url("../img/mob-line-1.svg") no-repeat center;
    background-size: 100% auto;
    width: 14px;
    height: 146px;
    position: absolute;
    top: -20px;
    left: 14px;
  }
}

.mob-line-2 {
  position: relative;

  li {
    font-size: 16px;
    line-height: 19px;
    color: #606060;
    margin-bottom: 19px;
  }

  &:before {
    content: '';
    background: url("../img/mob-line-2.svg") no-repeat center;
    background-size: 100% auto;
    width: 13px;
    height: 119px;
    display: block;
    position: absolute;
    top: -16px;
    left: 15px;
  }
}

.mob-line-3 {
  position: relative;

  li {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    background: url("../img/mob-line-3.svg") no-repeat center;
    background-size: 100% auto;
    width: 14px;
    height: 101px;
    display: block;
    top: -14px;
    left: 16px;
  }
}

.mob-line-4 {
  position: relative;

  li {
    font-size: 18px;
    line-height: 21px;
    color: #222222;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    background: url("../img/mob-line-4.svg") no-repeat center;
    background-size: 100% auto;
    width: 15px;
    height: 256px;
    display: block;
    top: -14px;
    left: 16px;
  }
}

.mob-line-5 {
  position: relative;
  margin-top: 10px;
  padding-left: 30px;

  li {
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    background: url("../img/mob-line-5.svg") no-repeat center;
    background-size: 100% auto;
    width: 14px;
    height: 153px;
    display: block;
    top: -6px;
    left: 6px;
  }
}

.mob-line-6 {
  position: relative;

  li {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    background: url("../img/mob-line-6.svg") no-repeat center;
    background-size: 100% auto;
    width: 14px;
    height: 18px;
    display: block;
    top: -3px;
    left: 20px;
  }
}

.mob-line-7 {
  position: relative;
  padding-left: 55px;

  li {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
    color: #222222;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    background: url("../img/mob-line-7.svg") no-repeat center;
    background-size: 100% auto;
    width: 14px;
    height: 111px;
    display: block;
    top: -17px;
    left: 35px;
  }
}

.mob-line-6__v1 {
  padding-left: 60px;

  &:before {
    left: 40px;
  }
}

.mob-line-6__v2 {
  padding-left: 55px;

  &:before {
    left: 36px;
  }
}

.mob-line-6__v3 {
  padding-left: 20px;

  &:before {
    left: 0;
  }
}

.mob-line-8 {
  position: relative;
  padding-left: 65px;

  li {
    font-size: 18px;
    line-height: 21px;
    color: #222222;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    background: url("../img/mob-line-8.svg") no-repeat center;
    background-size: 100% auto;
    width: 14px;
    height: 101px;
    display: block;
    top: -17px;
    left: 45px;
  }
}

.mob-line-9 {
  position: relative;
  padding-left: 25px;
  margin-top: 12px;

  li {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 8px;
    color: #222222;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    background: url("../img/mob-line-9.svg") no-repeat center;
    background-size: 100% auto;
    width: 14px;
    height: 49px;
    display: block;
    top: -7px;
    left: 5px;
  }
}

.mob-line-6__v4 {
  margin-top: 12px;
  padding-left: 20px;

  &:before {
    left: 5px;
  }
}

.Yandex_logo_ru {
  background: url("../img/Yandex_logo_ru.svg") no-repeat center;
  background-size: 100% auto;
  width: 116px;
  height: 46px;
  display: block;
}

.Google_2015_logo {
  background: url("../img/Google_2015_logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 137px;
  height: 45px;
  display: block;
  transform: translateX(-50px);
}

.cloud-1 {
  background: url("../img/cloud-1.svg") no-repeat center;
  background-size: 100% auto;
  width: 241px;
  height: 51px;
  display: block;
  top: 66px;
  left: 50%;
  transform: translateX(-50%);
}

.cloud-2 {
  background: url("../img/cloud-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 229px;
  height: 51px;
  display: block;
  top: 165px;
  left: 73%;
  transform: translateX(-50%);
}

.cloud-3 {
  background: url("../img/cloud-3.svg") no-repeat center;
  background-size: 100% auto;
  width: 212px;
  height: 51px;
  display: block;
  top: 200px;
  left: 29%;
  transform: translateX(-50%);
}

.cloud-4 {
  background: url("../img/cloud-4.svg") no-repeat center;
  background-size: 100% auto;
  width: 224px;
  height: 51px;
  display: block;
  top: 267px;
  left: 71%;
  transform: translateX(-50%);
}

.cloud-5 {
  background: url("../img/cloud-5.svg") no-repeat center;
  background-size: 100% auto;
  width: 334px;
  height: 51px;
  display: block;
  top: 304px;
  left: 17%;
  transform: translateX(-50%);
}

.cloud-6 {
  background: url("../img/cloud-6.svg") no-repeat center;
  background-size: 100% auto;
  width: 210px;
  height: 51px;
  display: block;
  top: 361px;
  left: 80%;
  transform: translateX(-50%);
}

.cloud-7 {
  background: url("../img/cloud-7.svg") no-repeat center;
  background-size: 100% auto;
  width: 280px;
  height: 51px;
  display: block;
  top: 403px;
  left: 30%;
  transform: translateX(-50%);
}
